<!DOCTYPE html>
<html>
<head>
    <title>Hello Spring Boot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>Hello Spring Boot!</p>
<td><a href="#" th:text="${iwantthisinmyview}">Isn't this shit useless ?</a></td>
<td><a href="#" th:text="${iwantthisinmyviewfromhibernate}">Isn't this shit useless too ?</a></td>
<td><a href="#" th:text="${iwantthisinmyviewfromproperties}">Isn't this shit more and more useless ?</a></td>
<p>
    <a href="/logout">logout</a>
</p>
</body>
</html>
