name: CI

on: [ push, pull_request, workflow_dispatch ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        java-version: [ 25.x ]
        graalvm-version: [ 25 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          cache: 'gradle'

      - name: Run tests
        run: ./gradlew test -x processTestAot

      - uses: graalvm/setup-graalvm@v1
        with:
          distribution: 'liberica'
          java-version: ${{ matrix.graalvm-version }}
          cache: 'gradle'

      - name: GraalVM Compile
        run: ./gradlew nativeCompile
        continue-on-error: true
